body {
  font-family: "Montserrat", sans-serif;
  margin: 0%;
  background-color: #0f0e17;
}
/* PRIMERA PAGINA */
.primera-pagina,
.segunda-pagina,
.tercera-pagina,
.cuarta-pagina,
.quinta-pagina {
  width: 100%;
  height: 700px;
}
/* NAVBAR */
.navbar {
  background-color: #0f0e17;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 70px;
}
#titulo {
  position: relative;
  top: 13px;
  text-align: center;
  color: #ff8906;
  font-weight: 400;
  font-size: 200%;
  margin: 0%;
}

/* NOMBRE */
.name {
  width: 550px;
  height: 400px;
  position: absolute;
  left: 100px;
  top: 100px;
}
#nombre {
  color: #fffffe;
  font-size: 100px;
}
/* IMAGEN DEL COSTADO */
.cara {
  width: 430px;
  height: 600px;
  position: absolute;
  left: 900px;
  top: 130px;
}
#juani {
  width: 200px;
  height: 200px;
}

/* SEGUNDA PAGINA */
.cartel {
  border-radius: 15px;
  /* background-color: black; */
  width: 1300px;
  height: 600px;
  margin: 50px;
}
#vocacion {
  font-size: 60px;
  position: relative;
  top: 50px;
  left: 50px;
  color: #ff8906;
}
#definicion {
  margin: 60px 50px;
  width: 900px;
  font-size: 30px;
  color: white;
}

/* TERCERA PAGINA */
.tercera-pagina {
  height: 1400px;
}

#linea {
  background-color: #ff8906;
  width: 25px;
  height: 90%;
  margin: 0 auto;
}
#jardin,
#sala-5,
#primer-grado,
#grado-5,
#grado-6,
#comienzos,
#interes,
#actualidad {
  width: 300px;
  height: 100px;
  color: white;
  position: relative;
  float: left;
  font-size: 22px;
}
#jardin {
  left: 200px;
  top: 100px;
}
#sala-5 {
  left: 600px;
  top: 250px;
}
#primer-grado {
  left: -350px;
  top: 400px;
}
#grado-5 {
  left: 100px;
  top: 500px;
}
#grado-6 {
  left: 240px;
  top: 550px;
}
#comienzos {
  left: 600px;
  top: 650px;
}
#interes {
  left: -400px;
  top: 800px;
}
#actualidad {
  left: 100px;
  top: 900px;
}
/* CUARTA PAGINA */
.cuarta-pagina {
  height: 850px;
}
#titulo-profesiones-para-inteligencias,
#titulo-linea {
  position: relative;
  top: 30px;
  text-align: center;
  margin-bottom: 100px;
  color: #ff8906;
}
table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
  color: #fffffe;
}
td {
  text-align: center;
}

/* CAJA */
.logico-matematica,
.intrapersonal,
.creativa {
  width: 395px;
  height: 430px;
  margin: none;
  float: left;
}
.logico-matematica {
  position: relative;
  left: 46px;
  top: 10px;
}
.intrapersonal {
  position: relative;
  left: 150px;
  top: 10px;
}
.creativa {
  position: relative;
  left: 230px;
  top: 10px;
}
/* TITULO MEJORES PUNTAJES */
#mejores {
  text-align: center;
  margin-top: 50px;
  color: #ff8906;
}
/* Titulo */
#inteligencia,
#inteligencia-c,
#inteligencia-i {
  color: white;
  position: absolute;
  width: 319px;
  height: 74px;
  left: 34px;
  top: 30px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
}

/* Puntajes */
#puntaje-mat,
#puntaje-crea,
#puntaje-intra {
  position: relative;
  top: 170px;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 42px;

  align-items: center;
  text-align: center;
  color: #ff8906;
}
#puntaje-crea,
#puntaje-intra,
#puntaje-mat {
  position: relative;
  top: 130px;
}

/* CARRERAS */
#carreras-mat,
#carreras-intra,
#carreras-crea {
  color: white;
  position: absolute;
  top: 220px;
  margin: 30px;
  font-size: larger;
}
/* QUINTA PAGINA */
#titulo-valores {
  color: #ff8906;
  text-align: center;
}
.valores {
  list-style: none;
  margin: none;
  width: 100px;
  height: 20px;
  position: relative;
  color: white;
}
